.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
}

.catLoading {
  background-image: url(images/loadcat.gif);
  background-position: center;
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  display: inline-block;
  image-rendering: -webkit-optimize-contrast;
}

.catLoading.abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
}